* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: fixed; /* Added */
    width: 100%; /* Added */
    background-color: rgba(0, 0, 0, 0.5); /* Added */
    z-index: 999; /* Added */
}


.logo {
    width: 50px;
    height: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 1rem;
    background-color: rgba(192, 192, 192, 0.5);
}


nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
}

p {
    margin-bottom: 1rem;
    color: white;
}

.section-bg {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.portfolio-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.portfolio-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 1rem;
}

.portfolio-description {
    color: white;
}

#calculator-wrapper input {
    display: block;
    margin-bottom: 1rem;
    background-color: white;
    border: 1px solid #ccc;
    padding: 0.5rem;
    color: black;
}

#calculator-wrapper button {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    color: black;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

#calculator-wrapper button:hover {
    background-color: #e6e6e6;
}

#calculator-wrapper #result {
    color: white;
    margin-top: 1rem;
}

#warning,
#jk {
    display: none;
    color: red;
}

#warning h2,
#jk h2 {
    color: red;
}

h1  {
    color: white;
}
p {
    color: white;
}
h2 {
    color: white;
}
.portfolio-video {
    max-width: 100%;
    height: auto;
    margin-right: 1rem;
}
.page-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
    box-sizing: border-box;
}

.section-content {
    padding-top: 70px; /* Adjust this value as needed */
}

.section-spacing {
    margin-top: 0px; /* Adjust this value to increase or decrease the space between sections */
}
