/* General styles */
body {
    font-family: 'Orbitron', sans-serif; /* Sci-fi themed font */
    color: #ffffff; /* Light text color */
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #1c1c1c, #3c3c3c); /* Static fallback background */
    animation: gradientBackground 10s ease infinite; /* Animated gradient background */
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background for better readability */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ff9800;
}

main {
    margin: 2rem;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin-bottom: 0.5rem;
    }
}
