USE master
GO

-- drop the AP database if it already exists
IF DB_ID('AP') IS NOT NULL
	DROP DATABASE AP
GO

CREATE DATABASE AP
GO 

USE AP
GO

-- create the ContactUpdates table
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE ContactUpdates(
	VendorID  int IDENTITY(1,1) NOT NULL,
	LastName  varchar(50) NULL,
	FirstName varchar(50) NULL
)
GO

-- create the GLAccounts table
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE GLAccounts (
	AccountNo int NOT NULL,
	AccountDescription varchar(50) NOT NULL,
    CONSTRAINT PK_GLAccounts PRIMARY KEY CLUSTERED 
    (
	    AccountNo ASC
    ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
) 
GO

-- create the InvoiceArchive table
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE InvoiceArchive (
	InvoiceID int NOT NULL,
	VendorID int NOT NULL,
	InvoiceNumber varchar(50) NOT NULL,
	InvoiceDate date NOT NULL,
	InvoiceTotal money NOT NULL,
	PaymentTotal money NOT NULL,
	CreditTotal money NOT NULL,
	TermsID int NOT NULL,
	InvoiceDueDate date NOT NULL,
	PaymentDate date NULL
) 
GO

-- create the InvoiceLineItems table
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE InvoiceLineItems(
	InvoiceID int NOT NULL,
	InvoiceSequence smallint NOT NULL,
	AccountNo int NOT NULL,
	InvoiceLineItemAmount money NOT NULL,
	InvoiceLineItemDescription varchar(100) NOT NULL,
    CONSTRAINT PK_InvoiceLineItems PRIMARY KEY CLUSTERED 
    (
	    InvoiceID ASC,
	    InvoiceSequence ASC
    ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
) 
GO

-- create the Invoices table
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE Invoices (
	InvoiceID int IDENTITY(1,1) NOT NULL,
	VendorID int NOT NULL,
	InvoiceNumber varchar(50) NOT NULL,
	InvoiceDate date NOT NULL,
	InvoiceTotal money NOT NULL,
	PaymentTotal money NOT NULL,
	CreditTotal money NOT NULL,
	TermsID int NOT NULL,
	InvoiceDueDate date NOT NULL,
	PaymentDate date NULL,
    CONSTRAINT PK_Invoices PRIMARY KEY CLUSTERED 
    (
	    InvoiceID ASC
    ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) 
GO

-- create the Terms table
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE Terms (
	TermsID int IDENTITY(1,1) NOT NULL,
	TermsDescription varchar(50) NOT NULL,
	TermsDueDays smallint NOT NULL,
    CONSTRAINT PK_Terms PRIMARY KEY CLUSTERED 
    (
	    TermsID ASC
    ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) ON [PRIMARY]
GO

-- create the Vendors table
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE Vendors (
	VendorID int IDENTITY(1,1) NOT NULL,
	VendorName varchar(50) NOT NULL,
	VendorAddress1 varchar(50) NULL,
	VendorAddress2 varchar(50) NULL,
	VendorCity varchar(50) NOT NULL,
	VendorState char(2) NOT NULL,
	VendorZipCode varchar(20) NOT NULL,
	VendorPhone varchar(50) NULL,
	VendorContactLName varchar(50) NULL,
	VendorContactFName varchar(50) NULL,
	DefaultTermsID int NOT NULL,
	DefaultAccountNo int NOT NULL,
    CONSTRAINT PK_Vendors PRIMARY KEY CLUSTERED 
    (
	    VendorID ASC
    ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
GO
-- insert the records into each of the tables
SET IDENTITY_INSERT ContactUpdates ON 
INSERT ContactUpdates (VendorID, LastName, FirstName) VALUES (5, N'Davison', N'Michelle')
INSERT ContactUpdates (VendorID, LastName, FirstName) VALUES (12, N'Mayteh', N'Kendall')
INSERT ContactUpdates (VendorID, LastName, FirstName) VALUES (17, N'Onandonga', N'Bruce')
SET IDENTITY_INSERT ContactUpdates OFF
INSERT GLAccounts (AccountNo, AccountDescription) VALUES (100, N'Cash')
INSERT GLAccounts (AccountNo, AccountDescription) VALUES (110, N'Accounts Receivable')
INSERT GLAccounts (AccountNo, AccountDescription) VALUES (120, N'Book Inventory')
INSERT InvoiceLineItems (InvoiceID, InvoiceSequence, AccountNo, InvoiceLineItemAmount, InvoiceLineItemDescription) VALUES (1, 1, 553, 3813.3300, N'Freight')
INSERT InvoiceLineItems (InvoiceID, InvoiceSequence, AccountNo, InvoiceLineItemAmount, InvoiceLineItemDescription) VALUES (2, 1, 553, 40.2000, N'Freight')
INSERT InvoiceLineItems (InvoiceID, InvoiceSequence, AccountNo, InvoiceLineItemAmount, InvoiceLineItemDescription) VALUES (3, 1, 553, 138.7500, N'Freight')
GO
SET IDENTITY_INSERT Invoices ON 

INSERT Invoices (InvoiceID, VendorID, InvoiceNumber, InvoiceDate, InvoiceTotal, PaymentTotal, CreditTotal, TermsID, InvoiceDueDate, PaymentDate) VALUES (1, 122, N'989319-457', CAST(N'2022-10-08' AS Date), 3813.3300, 3813.3300, 0.0000, 3, CAST(N'2022-11-08' AS Date), CAST(N'2022-11-07' AS Date))
INSERT Invoices (InvoiceID, VendorID, InvoiceNumber, InvoiceDate, InvoiceTotal, PaymentTotal, CreditTotal, TermsID, InvoiceDueDate, PaymentDate) VALUES (2, 123, N'263253241', CAST(N'2022-10-10' AS Date), 40.2000, 40.2000, 0.0000, 3, CAST(N'2022-11-10' AS Date), CAST(N'2022-11-14' AS Date))
INSERT Invoices (InvoiceID, VendorID, InvoiceNumber, InvoiceDate, InvoiceTotal, PaymentTotal, CreditTotal, TermsID, InvoiceDueDate, PaymentDate) VALUES (3, 123, N'963253234', CAST(N'2022-10-13' AS Date), 138.7500, 138.7500, 0.0000, 3, CAST(N'2022-11-13' AS Date), CAST(N'2022-11-09' AS Date))
GO
SET IDENTITY_INSERT Invoices OFF
SET IDENTITY_INSERT Terms ON 

INSERT Terms (TermsID, TermsDescription, TermsDueDays) VALUES (1, N'Net due 10 days', 10)
INSERT Terms (TermsID, TermsDescription, TermsDueDays) VALUES (2, N'Net due 20 days', 20)
INSERT Terms (TermsID, TermsDescription, TermsDueDays) VALUES (3, N'Net due 30 days', 30)
SET IDENTITY_INSERT Terms OFF
SET IDENTITY_INSERT Vendors ON 

INSERT Vendors (VendorID, VendorName, VendorAddress1, VendorAddress2, VendorCity, VendorState, VendorZipCode, VendorPhone, VendorContactLName, VendorContactFName, DefaultTermsID, DefaultAccountNo) VALUES (1, N'US Postal Service', N'Attn:  Supt. Window Services', N'PO Box 7005', N'Madison', N'WI', N'53707', N'(800) 555-1205', N'Alberto', N'Francesco', 1, 552)
INSERT Vendors (VendorID, VendorName, VendorAddress1, VendorAddress2, VendorCity, VendorState, VendorZipCode, VendorPhone, VendorContactLName, VendorContactFName, DefaultTermsID, DefaultAccountNo) VALUES (2, N'National Information Data Ctr', N'PO Box 96621', NULL, N'Washington', N'DC', N'20090', N'(301) 555-8950', N'Irvin', N'Ania', 3, 540)
INSERT Vendors (VendorID, VendorName, VendorAddress1, VendorAddress2, VendorCity, VendorState, VendorZipCode, VendorPhone, VendorContactLName, VendorContactFName, DefaultTermsID, DefaultAccountNo) VALUES (3, N'Register of Copyrights', N'Library Of Congress', NULL, N'Washington', N'DC', N'20559', NULL, N'Liana', N'Lukas', 3, 403)
GO
SET IDENTITY_INSERT Vendors OFF
ALTER TABLE Invoices ADD  CONSTRAINT DF_Invoices_PaymentTotal  DEFAULT ((0)) FOR PaymentTotal
GO
ALTER TABLE Invoices ADD  CONSTRAINT DF_Invoices_CreditTotal  DEFAULT ((0)) FOR CreditTotal
GO
ALTER TABLE Vendors ADD  CONSTRAINT DF_Vendors_TermsID  DEFAULT ((3)) FOR DefaultTermsID
GO
ALTER TABLE Vendors ADD  CONSTRAINT DF_Vendors_AccountNo  DEFAULT ((570)) FOR DefaultAccountNo
GO
ALTER TABLE InvoiceLineItems  WITH NOCHECK ADD  CONSTRAINT FK_InvoiceLineItems_GLAccounts FOREIGN KEY(AccountNo)
REFERENCES GLAccounts (AccountNo)
GO
ALTER TABLE InvoiceLineItems CHECK CONSTRAINT FK_InvoiceLineItems_GLAccounts
GO
ALTER TABLE InvoiceLineItems  WITH NOCHECK ADD  CONSTRAINT FK_InvoiceLineItems_Invoices FOREIGN KEY(InvoiceID)
REFERENCES Invoices (InvoiceID)
ON DELETE CASCADE
GO
ALTER TABLE InvoiceLineItems CHECK CONSTRAINT FK_InvoiceLineItems_Invoices
GO
ALTER TABLE Invoices  WITH NOCHECK ADD CONSTRAINT FK_Invoices_Terms FOREIGN KEY(TermsID)
REFERENCES Terms (TermsID)
GO
ALTER TABLE Invoices CHECK CONSTRAINT FK_Invoices_Terms
GO
ALTER TABLE Invoices WITH NOCHECK ADD  CONSTRAINT FK_Invoices_Vendors FOREIGN KEY(VendorID)
REFERENCES Vendors (VendorID)
GO
ALTER TABLE Invoices CHECK CONSTRAINT FK_Invoices_Vendors
GO
ALTER TABLE Vendors  WITH NOCHECK ADD  CONSTRAINT FK_Vendors_GLAccounts FOREIGN KEY(DefaultAccountNo)
REFERENCES GLAccounts (AccountNo)
GO
ALTER TABLE Vendors CHECK CONSTRAINT FK_Vendors_GLAccounts
GO
ALTER TABLE Vendors  WITH NOCHECK ADD  CONSTRAINT FK_Vendors_Terms FOREIGN KEY(DefaultTermsID)
REFERENCES Terms (TermsID)
GO
ALTER TABLE Vendors CHECK CONSTRAINT FK_Vendors_Terms
GO
