USE master
GO

IF DB_ID('Examples') IS NOT NULL
    DROP DATABASE Examples
GO

-- Create the Examples database
CREATE DATABASE Examples
GO

USE Examples
GO

-- create the ActiveInvoices table
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE ActiveInvoices(
	InvoiceID int IDENTITY(1,1) NOT NULL,
	VendorID int NOT NULL,
	InvoiceNumber varchar(50) NOT NULL,
	InvoiceDate date NOT NULL,
	InvoiceTotal money NOT NULL,
	PaymentTotal money NOT NULL,
	CreditTotal money NOT NULL,
	TermsID int NOT NULL,
	InvoiceDueDate date NOT NULL,
	PaymentDate date NULL
) 
GO

-- create the Customers table
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE Customers(
	CustID int IDENTITY(1,1) NOT NULL,
	CustomerLast nvarchar(30) NULL,
	CustomerFirst nvarchar(30) NULL,
	CustAddr nvarchar(60) NULL,
	CustCity nvarchar(15) NULL,
	CustState nvarchar(15) NULL,
	CustZip nvarchar(10) NULL,
	CustPhone nvarchar(24) NULL,
    CONSTRAINT PK_Customers PRIMARY KEY CLUSTERED 
    (
	    CustID ASC
    ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
GO

-- create the DateSample table
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE DateSample (
	ID int IDENTITY(1,1) NOT NULL,
	StartDate datetime NULL
)
GO

-- create the Departments table
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE Departments (
	DeptNo int IDENTITY(1,1) NOT NULL,
	DeptName varchar(50) NOT NULL,
    CONSTRAINT PK_Departments PRIMARY KEY CLUSTERED 
    (
	    DeptNo ASC
    ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
GO

-- create the Employees table
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE Employees (
	EmployeeID int IDENTITY(1,1) NOT NULL,
	LastName varchar(35) NOT NULL,
	FirstName varchar(35) NOT NULL,
	DeptNo int NOT NULL,
	ManagerID int NULL
) 
GO

-- create the Investors table
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE Investors (
	InvestorID int IDENTITY(1,1) NOT NULL,
	LastName varchar(50) NULL,
	FirstName varchar(50) NULL,
	Address varchar(50) NULL,
	City varchar(50) NULL,
	State char(2) NULL,
	ZipCode char(10) NULL,
	Phone char(20) NULL,
	Investments money NULL,
	NetGain money NULL,
    CONSTRAINT PK_Investors PRIMARY KEY CLUSTERED 
    (
	    [InvestorID] ASC
    ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
)
GO

-- create the Invoices table
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE Invoices (
	InvoiceID int NOT NULL,
	InvoiceNumber int NULL,
	InvoiceTotal smallmoney NULL
)
GO

-- create the NullSample table
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE NullSample (
	InvoiceID int IDENTITY(1,1) NOT NULL,
	InvoiceTotal money NULL
)
GO

-- create the PaidInvoices table
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE PaidInvoices (
	InvoiceID int IDENTITY(1,1) NOT NULL,
	VendorID int NOT NULL,
	InvoiceNumber varchar(50) NOT NULL,
	InvoiceDate date NOT NULL,
	InvoiceTotal money NOT NULL,
	PaymentTotal money NOT NULL,
	CreditTotal money NOT NULL,
	TermsID int NOT NULL,
	InvoiceDueDate date NOT NULL,
	PaymentDate date NULL
)
GO

-- create the Projects table
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE Projects (
	ProjectNo char(5) NOT NULL,
	EmployeeID int NOT NULL
) 
GO

-- create the RealSample table
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE RealSample(
	ID int IDENTITY(1,1) NOT NULL,
	R float NULL
)
GO

-- create the SalesReps table
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE SalesReps (
	RepID int IDENTITY(1,1) NOT NULL,
	RepFirstName varchar(50) NOT NULL,
	RepLastName varchar(50) NOT NULL,
    CONSTRAINT PK_SalesReps PRIMARY KEY CLUSTERED 
    (
	    RepID ASC
    ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
)
GO

-- create the SalesTotals table
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE SalesTotals (
	RepID int NOT NULL,
	SalesYear char(4) NOT NULL,
	SalesTotal money NOT NULL,
    CONSTRAINT PK_SalesTotals PRIMARY KEY CLUSTERED 
    (
	    RepID ASC,
	    SalesYear ASC
    ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 
GO

-- create the StringSample table
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE StringSample (
	ID char(3) NULL,
	Name varchar(25) NULL,
	AltID char(3) NULL
) 
GO

-- create the Vendors table
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendors](
	VendorID int IDENTITY(1,1) NOT NULL,
	VendorName nvarchar(50) NOT NULL,
	VendorAddress1 nvarchar(50) NULL,
	VendorAddress2 nvarchar(50) NULL,
	VendorCity nvarchar(50) NOT NULL,
	VendorState nchar(2) NOT NULL,
	VendorZipCode nvarchar(10) NOT NULL,
	VendorContactLName nvarchar(35) NULL,
	VendorContactFName nvarchar(35) NULL,
	VendorPhone nvarchar(50) NULL,
	TermsID int NOT NULL,
	AccountNo int NOT NULL,
	LastTranDate date NULL,
	YTDPurchases money NULL,
	YTDReturns money NULL,
	LastYTDPurchases money NULL,
	LastYTDReturns money NULL,
    CONSTRAINT [PK_Vendors] PRIMARY KEY CLUSTERED 
    (
	    VendorID ASC
    ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
) 

-- create the EmployeeSales table
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeSales](
	[EmployeeID] [int] NOT NULL,
	[EnterpriseSales] [money] NULL,
	[DirectSales] [money] NULL
) ON [PRIMARY]
GO

-- insert the data into the tables

GO
INSERT EmployeeSales (EmployeeID, EnterpriseSales, DirectSales) VALUES (1, 10000.0000, 7500.0000)
INSERT EmployeeSales (EmployeeID, EnterpriseSales, DirectSales) VALUES (2, 12000.0000, 3000.0000)
INSERT EmployeeSales (EmployeeID, EnterpriseSales, DirectSales) VALUES (3, NULL, 5000.0000)

GO
SET IDENTITY_INSERT ActiveInvoices ON 
INSERT ActiveInvoices (InvoiceID, VendorID, InvoiceNumber, InvoiceDate, InvoiceTotal, PaymentTotal, CreditTotal, TermsID, InvoiceDueDate, PaymentDate) VALUES (89, 72, N'39104', CAST(N'2023-01-10' AS Date), 85.3100, 0.0000, 0.0000, 3, CAST(N'2023-02-09' AS Date), NULL)
INSERT ActiveInvoices (InvoiceID, VendorID, InvoiceNumber, InvoiceDate, InvoiceTotal, PaymentTotal, CreditTotal, TermsID, InvoiceDueDate, PaymentDate) VALUES (94, 123, N'963253264', CAST(N'2023-01-18' AS Date), 52.2500, 0.0000, 0.0000, 3, CAST(N'2023-02-17' AS Date), NULL)
INSERT ActiveInvoices (InvoiceID, VendorID, InvoiceNumber, InvoiceDate, InvoiceTotal, PaymentTotal, CreditTotal, TermsID, InvoiceDueDate, PaymentDate) VALUES (98, 83, N'31361833', CAST(N'2023-01-21' AS Date), 579.4200, 0.0000, 0.0000, 2, CAST(N'2023-02-10' AS Date), NULL)
SET IDENTITY_INSERT ActiveInvoices OFF
SET IDENTITY_INSERT Customers ON 

INSERT Customers (CustID, CustomerLast, CustomerFirst, CustAddr, CustCity, CustState, CustZip, CustPhone) VALUES (1, N'Anders', N'Maria', N'345 Winchell Pl', N'Anderson', N'IN', N'46014', N'(765) 555-7878')
INSERT Customers (CustID, CustomerLast, CustomerFirst, CustAddr, CustCity, CustState, CustZip, CustPhone) VALUES (2, N'Trujillo', N'Ana', N'1298 E Smathers St', N'Benton', N'AR', N'72018', N'(501) 555-7733')
INSERT Customers (CustID, CustomerLast, CustomerFirst, CustAddr, CustCity, CustState, CustZip, CustPhone) VALUES (3, N'Moreno', N'Antonio', N'6925 N Parkland Ave', N'Puyallup', N'WA', N'98373', N'(253) 555-8332')
SET IDENTITY_INSERT Customers OFF
SET IDENTITY_INSERT DateSample ON 

INSERT DateSample (ID, StartDate) VALUES (1, CAST(N'1993-11-01T00:00:00.000' AS DateTime))
INSERT DateSample (ID, StartDate) VALUES (2, CAST(N'2013-10-28T00:00:00.000' AS DateTime))
INSERT DateSample (ID, StartDate) VALUES (3, CAST(N'2018-06-30T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT DateSample OFF
SET IDENTITY_INSERT Departments ON 

INSERT Departments (DeptNo, DeptName) VALUES (1, N'Accounting')
INSERT Departments (DeptNo, DeptName) VALUES (2, N'Payroll')
INSERT Departments (DeptNo, DeptName) VALUES (3, N'Operations')
SET IDENTITY_INSERT Departments OFF
SET IDENTITY_INSERT Employees ON 

INSERT Employees (EmployeeID, LastName, FirstName, DeptNo, ManagerID) VALUES (1, N'Smith', N'Cindy', 2, NULL)
INSERT Employees (EmployeeID, LastName, FirstName, DeptNo, ManagerID) VALUES (2, N'Jones', N'Elmer', 4, 1)
INSERT Employees (EmployeeID, LastName, FirstName, DeptNo, ManagerID) VALUES (3, N'Simonian', N'Ralph', 2, 2)
SET IDENTITY_INSERT Employees OFF

INSERT Investors (InvestorID, LastName, FirstName, Address, City, State, ZipCode, Phone, Investments, NetGain) VALUES (1, N'Anders', N'Maria', N'345 Winchell Pl', N'Anderson', N'IN', N'46014     ', N'(765) 555-7878      ', 15000.0000, 1242.5700)
INSERT Investors (InvestorID, LastName, FirstName, Address, City, State, ZipCode, Phone, Investments, NetGain) VALUES (2, N'Trujilo', N'Ana', N'1298 E Smathers St.', N'Benton', N'AR', N'72018     ', N'(510) 555-7733      ', 43500.0000, 8497.4400)
INSERT Investors (InvestorID, LastName, FirstName, Address, City, State, ZipCode, Phone, Investments, NetGain) VALUES (3, N'Moreno', N'Antonio', N'6925 N Parkland Ave.', N'Puyallup', N'WA', N'98373     ', N'(253) 555-8332      ', 22900.0000, 2338.8700)
SET IDENTITY_INSERT Investors OFF
INSERT Invoices (InvoiceID, InvoiceNumber, InvoiceTotal) VALUES (1, 8937, 50.0000)
INSERT Invoices (InvoiceID, InvoiceNumber, InvoiceTotal) VALUES (2, 3662, 100.0000)
INSERT Invoices (InvoiceID, InvoiceNumber, InvoiceTotal) VALUES (3, NULL, NULL)
SET IDENTITY_INSERT NullSample ON 

INSERT NullSample (InvoiceID, InvoiceTotal) VALUES (1, 125.0000)
INSERT NullSample (InvoiceID, InvoiceTotal) VALUES (2, 0.0000)
INSERT NullSample (InvoiceID, InvoiceTotal) VALUES (3, NULL)
SET IDENTITY_INSERT NullSample OFF
SET IDENTITY_INSERT PaidInvoices ON 

INSERT PaidInvoices (InvoiceID, VendorID, InvoiceNumber, InvoiceDate, InvoiceTotal, PaymentTotal, CreditTotal, TermsID, InvoiceDueDate, PaymentDate) VALUES (1, 122, N'989319-457', CAST(N'2022-10-08' AS Date), 3813.3300, 3813.3300, 0.0000, 3, CAST(N'2022-11-08' AS Date), CAST(N'2022-11-07' AS Date))
INSERT PaidInvoices (InvoiceID, VendorID, InvoiceNumber, InvoiceDate, InvoiceTotal, PaymentTotal, CreditTotal, TermsID, InvoiceDueDate, PaymentDate) VALUES (2, 123, N'263253241', CAST(N'2022-10-10' AS Date), 40.2000, 40.2000, 0.0000, 3, CAST(N'2022-11-10' AS Date), CAST(N'2022-11-14' AS Date))
INSERT PaidInvoices (InvoiceID, VendorID, InvoiceNumber, InvoiceDate, InvoiceTotal, PaymentTotal, CreditTotal, TermsID, InvoiceDueDate, PaymentDate) VALUES (3, 123, N'963253234', CAST(N'2022-10-13' AS Date), 138.7500, 138.7500, 0.0000, 3, CAST(N'2022-11-13' AS Date), CAST(N'2022-11-09' AS Date))
GO
SET IDENTITY_INSERT PaidInvoices OFF
INSERT Projects (ProjectNo, EmployeeID) VALUES (N'P1011', 8)
INSERT Projects (ProjectNo, EmployeeID) VALUES (N'P1011', 4)
INSERT Projects (ProjectNo, EmployeeID) VALUES (N'P1012', 3)
SET IDENTITY_INSERT RealSample ON 

INSERT RealSample (ID, R) VALUES (1, 1.0000000000000011)
INSERT RealSample (ID, R) VALUES (2, 1)
INSERT RealSample (ID, R) VALUES (3, 0.999999999999999)
SET IDENTITY_INSERT RealSample OFF
SET IDENTITY_INSERT SalesReps ON 

INSERT SalesReps (RepID, RepFirstName, RepLastName) VALUES (1, N'Jonathon', N'Thomas')
INSERT SalesReps (RepID, RepFirstName, RepLastName) VALUES (2, N'Sonja', N'Martinez')
INSERT SalesReps (RepID, RepFirstName, RepLastName) VALUES (3, N'Andrew', N'Markasian')
SET IDENTITY_INSERT SalesReps OFF
INSERT SalesTotals (RepID, SalesYear, SalesTotal) VALUES (1, N'2014', 1274856.3800)
INSERT SalesTotals (RepID, SalesYear, SalesTotal) VALUES (1, N'2015', 923746.8500)
INSERT SalesTotals (RepID, SalesYear, SalesTotal) VALUES (1, N'2016', 998337.4600)

INSERT StringSample (ID, Name, AltID) VALUES (N'1  ', N'Lizbeth Darien', N'01 ')
INSERT StringSample (ID, Name, AltID) VALUES (N'2  ', N'Darnell O''Sullivan', N'02 ')
INSERT StringSample (ID, Name, AltID) VALUES (N'17 ', N'Lance Pinos-Potter', N'17 ')
SET IDENTITY_INSERT Vendors ON 

INSERT Vendors (VendorID, VendorName, VendorAddress1, VendorAddress2, VendorCity, VendorState, VendorZipCode, VendorContactLName, VendorContactFName, VendorPhone, TermsID, AccountNo, LastTranDate, YTDPurchases, YTDReturns, LastYTDPurchases, LastYTDReturns) VALUES (1, N'US Postal Service', N'Attn:  Supt. Window Services', N'PO Box 7005', N'Madison', N'WI', N'53707', N'Alberto', N'Francesco', N'(209) 555-1205', 1, 552, CAST(N'2013-01-23' AS Date), 0.0000, 0.0000, 0.0000, 0.0000)
INSERT Vendors (VendorID, VendorName, VendorAddress1, VendorAddress2, VendorCity, VendorState, VendorZipCode, VendorContactLName, VendorContactFName, VendorPhone, TermsID, AccountNo, LastTranDate, YTDPurchases, YTDReturns, LastYTDPurchases, LastYTDReturns) VALUES (2, N'National Information Data Ctr', N'PO Box 96621', N'', N'Washington', N'DC', N'20110', N'Irvin', N'Ania', N'(301) 555-8950', 3, 540, CAST(N'2016-09-11' AS Date), 0.0000, 0.0000, 0.0000, 0.0000)
INSERT Vendors (VendorID, VendorName, VendorAddress1, VendorAddress2, VendorCity, VendorState, VendorZipCode, VendorContactLName, VendorContactFName, VendorPhone, TermsID, AccountNo, LastTranDate, YTDPurchases, YTDReturns, LastYTDPurchases, LastYTDReturns) VALUES (3, N'Register of Copyrights', N'Library Of Congress', N'', N'Washington', N'DC', N'20559', N'Liana', N'Lukas', N'', 3, 403, CAST(N'2016-09-28' AS Date), 0.0000, 0.0000, 0.0000, 0.0000)
GO
SET IDENTITY_INSERT Vendors OFF
SET ANSI_PADDING ON
GO

-- add additional constraints to the tables
ALTER TABLE Vendors ADD  CONSTRAINT IX_VendorName UNIQUE NONCLUSTERED 
(
	VendorName ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
ALTER TABLE Vendors ADD  CONSTRAINT DF_Vendors_TermsID  DEFAULT ((3)) FOR TermsID
GO
ALTER TABLE Vendors ADD  CONSTRAINT DF_Vendors_AccountNo  DEFAULT ((570)) FOR AccountNo
GO
ALTER TABLE Vendors ADD  CONSTRAINT DF_Vendors_YTDPurchases  DEFAULT ((0)) FOR YTDPurchases
GO
ALTER TABLE Vendors ADD  CONSTRAINT DF_Vendors_YTDReturns  DEFAULT ((0)) FOR YTDReturns
GO
ALTER TABLE Vendors ADD  CONSTRAINT DF_Vendors_LastYTDPurchases  DEFAULT ((0)) FOR LastYTDPurchases
GO
ALTER TABLE Vendors ADD  CONSTRAINT DF_Vendors_LastYTDReturns  DEFAULT ((0)) FOR LastYTDReturns
GO
ALTER TABLE SalesTotals  WITH CHECK ADD  CONSTRAINT FK_SalesTotals_SalesReps FOREIGN KEY(RepID)
REFERENCES SalesReps (RepID)
GO
ALTER TABLE SalesTotals CHECK CONSTRAINT FK_SalesTotals_SalesReps
GO
