USE master
GO

IF DB_ID('ProductOrders') IS NOT NULL
    DROP DATABASE ProductOrders
GO

-- create the ProductOrders database
CREATE DATABASE ProductOrders
GO

USE ProductOrders
GO

-- create the Customers table
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE Customers(
	CustID int IDENTITY(1,1) NOT NULL,
	CustFirstName nvarchar(50) NULL,
	CustLastName nvarchar(50) NOT NULL,
	CustAddress nvarchar(255) NOT NULL,
	CustCity nvarchar(50) NOT NULL,
	CustState nvarchar(20) NOT NULL,
	CustZip nvarchar(20) NOT NULL,
	CustPhone nvarchar(30) NOT NULL,
	CustFax nvarchar(30) NULL,
    CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
    (
	    CustID ASC
    ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 
GO

-- create the Items table
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE Items(
	ItemID int NOT NULL,
	Title nvarchar(50) NOT NULL,
	Artist nvarchar(50) NOT NULL,
	UnitPrice money NOT NULL
)
GO

-- create the OrderDetails table
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE OrderDetails (
	OrderID int NOT NULL,
	ItemID int NOT NULL,
	Quantity smallint NOT NULL
) 
GO

-- create the Orders table
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE Orders (
	OrderID int NOT NULL,
	CustID int NOT NULL,
	OrderDate datetime NOT NULL,
	ShippedDate datetime NULL
) 
GO

-- insert the data into the tables
SET IDENTITY_INSERT Customers ON 
INSERT Customers (CustID, CustFirstName, CustLastName, CustAddress, CustCity, CustState, CustZip, CustPhone, CustFax) VALUES (1, N'Korah', N'Blanca', N'1555 W Lane Ave', N'Columbus', N'OH', N'43221', N'6145554435', N'6145553928')
INSERT Customers (CustID, CustFirstName, CustLastName, CustAddress, CustCity, CustState, CustZip, CustPhone, CustFax) VALUES (2, N'Yash', N'Randall', N'11 E Rancho Madera Rd', N'Madison', N'WI', N'53707', N'2095551205', N'2095552262')
INSERT Customers (CustID, CustFirstName, CustLastName, CustAddress, CustCity, CustState, CustZip, CustPhone, CustFax) VALUES (3, N'Johnathon', N'Millerton', N'60 Madison Ave', N'New York', N'NY', N'10010', N'2125554800', NULL)
SET IDENTITY_INSERT Customers OFF
INSERT Items (ItemID, Title, Artist, UnitPrice) VALUES (1, N'Umami In Concert', N'Umami', 17.9500)
INSERT Items (ItemID, Title, Artist, UnitPrice) VALUES (2, N'Race Car Sounds', N'The Ubernerds', 13.0000)
INSERT Items (ItemID, Title, Artist, UnitPrice) VALUES (3, N'No Rest For The Weary', N'No Rest For The Weary', 16.9500)
INSERT OrderDetails (OrderID, ItemID, Quantity) VALUES (381, 1, 1)
INSERT OrderDetails (OrderID, ItemID, Quantity) VALUES (601, 9, 1)
INSERT OrderDetails (OrderID, ItemID, Quantity) VALUES (442, 1, 1)
INSERT Orders (OrderID, CustID, OrderDate, ShippedDate) VALUES (19, 1, CAST(N'2021-04-23T00:00:00.000' AS DateTime), CAST(N'2021-04-28T00:00:00.000' AS DateTime))
INSERT Orders (OrderID, CustID, OrderDate, ShippedDate) VALUES (29, 8, CAST(N'2021-05-05T00:00:00.000' AS DateTime), CAST(N'2021-05-11T00:00:00.000' AS DateTime))
INSERT Orders (OrderID, CustID, OrderDate, ShippedDate) VALUES (32, 11, CAST(N'2021-05-10T00:00:00.000' AS DateTime), CAST(N'2021-05-13T00:00:00.000' AS DateTime))
