@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 6
   Coding Challenge 1
   
   Author: Michael D. Connell Jr
   Date: 2023-04-04
   Filename: code6-1_table.css
*/

/* For the table element */
table {
    border: 20px grooved gray;
    border-collapse: collapse;
}

/* For the th and td elements */
th, td {
    border: 1px solid gray;
    padding: 5px;
    vertical-align: top;
    text-align: left;
}

/* For the first column th and td elements */
.firstCol {
    background-color: yellow;
    width: 150px;
}

/* For the caption element */
caption {
    caption-side: top;
    text-align: left;
    font-size: 1.5em;
}

/* Change the background color of the thead element
