/*  JavaScript 7th Edition
    Chapter 11
    Hands-on Project 11-4

    Filename: styles.css
*/

/* apply a natural box layout model to all elements */
* {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

/* reset rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
   display: block;
}

body {
   line-height: 1;
   width: 960px;
   background: white;
   margin: 0 auto;
   font-family: Verdana, Geneva, sans-serif; 
}

ol, ul {
   list-style: none;
}

/* page header */
header {
   background: #5472B2;
   width: 100%;
   color: #FFFFFF;
   font-size: 48px;
   text-align: center;
   line-height: 1.5em;
   margin-bottom: 0;
}





/*-------------------- Project Styles ------------------*/

section {
   background-color: #FFDB70;
   margin-top: 0;
   padding-bottom: 20px;
   user-select:none;
   min-height: 350px;
}

section > h1 {
   font-size: 2em;
   text-align: center;
   margin: 0;
   padding: 20px 0;
}

table#posTable {
   margin: 0 0 20px 100px;
   border-collapse: collapse;
   width: 400px;
}

table#posTable caption {
   font-weight: bold;
   text-align: left;
   padding-bottom: 8px;
   letter-spacing: 0.1em;
}

table#posTable th {
   text-align: left;
   width: 150px;
   border: 1px solid gray;
   padding: 4px 0 4px 8px;
   background-color: rgba(190, 190, 190, 0.2);   
}

table#posTable td {
   text-align: right;
   width: 150px;
   border: 1px solid gray;
   padding: 4px 8px 4px 8px;
   background-color: rgba(255, 255, 255, 0.4);     
}
table#uvTable {
   margin: 0 0 20px 100px;
   border-collapse: collapse;
   width: 400px;
}

table#uvTable caption {
   font-weight: bold;
   text-align: left;
   padding-bottom: 8px;
   letter-spacing: 0.1em;
}

table#uvTable th {
   text-align: left;
   width: 250px;
   border: 1px solid gray;
   padding: 4px 0 4px 8px;
   background-color: rgba(190, 190, 190, 0.2)   
}

table#uvTable td {
   text-align: right;
   width: 50px;
   border: 1px solid gray;
   padding: 4px 8px 4px 8px;
   background-color: rgba(255, 255, 255, 0.4)    
}

table#safeTable {
   margin: 0 0 20px 100px;
   border-collapse: collapse;
   max-width: 720px;
}

table#safeTable caption {
   font-weight: bold;
   text-align: left;
   padding-bottom: 8px;
   letter-spacing: 0.1em;
}

table#safeTable thead th {
   text-align: center;
   border: 1px solid gray;
   padding: 4px 0 4px 8px;
   background-color: rgba(190, 190, 190, 0.2)   
}

table#safeTable tbody th {
   text-align: center;
   width: 120px;
   border: 1px solid gray;
   padding: 4px 0 4px 8px;
   background-color: rgba(190, 190, 190, 0.2);
   font-size: 1.2em;
   vertical-align: middle;
}

div.samples {
   width: 40px;
   height: 40px;
   border: 1px solid gray;
   border-radius: 20px;
   float: left;
   margin-right: 15px;
}
table#safeTable tbody td {
   border: 1px solid gray;
   padding: 4px 0 4px 8px;
   background-color: rgba(255, 255, 255, 0.4);
   vertical-align: top;
   padding: 5px 12px ;
}

table#safeTable tbody tr td:nth-of-type(1) {
   vertical-align: center;
   text-align: left;
   width: 640px;
}

table#safeTable tbody tr td:nth-of-type(2) {
   text-align: right;
   width: 140px;
   vertical-align: top;
}

div#sample1 {
   background-color: rgb(241, 209, 177) ;
}

div#sample2 {
   background-color: rgb(228, 181, 144) ;
}

div#sample3 {
   background-color: rgb(207,159, 125) ;
}

div#sample4 {
   background-color: rgb(182, 120, 81) ;
}

div#sample5 {
   background-color: rgb(161, 94, 45) ;
}

div#sample6 {
   background-color: rgb(81, 57, 56) ;
}

