@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 2
   Coding Challenge 4
   
   Author: Michael Connell
   Date:   2023-03-15
   
   Filename: code2-4_layout.css
*/

body {
   width: 900px;
}

img {
   display: block;
   width: 100%;
   margin: 0px;
}

div {
   float: left;
   width: 300px;
   height: 580px;
}

aside {
   float: left;
   width: 540px;
   height: 600px;
}